{% load static %}
    <!-- ===== Navbar ===== -->
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}" class = "logo-home">
            <div class="logo-container">
                <img src="https://raw.githubusercontent.com/SahilInstinct/Psyche-Spectrum/refs/heads/main/logo.png" class="logo" alt="Psyche-Spectrum Logo" />
                <span class="site-title">Psyche-Spectrum</span>
            </div>
            </a>


            <ul class="nav-links">
                <li><a href="{% url 'test' %}">Personality Test</a></li>
                <li><a href="{% url 'explore_grid' %}">Personality Types</a></li>
                <li><a href="{% url 'about' %}"> About </a></li>
                <li><a href="#">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}" class="login-btn">Profile</a> </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="login-btn">Log In</a></li>
                {% endif %}
            </ul>

            <button class="hamburger" id="hamburger" aria-label="Open Menu" aria-expanded="false">
                &#9776;
            </button>
        </nav>
    </header>

    <!-- ===== Side Menu (Mobile) ===== -->
    <div class="side-menu" id="side-menu" aria-hidden="true">
        <div class="menu-header">
            <button class="close-btn" id="close-btn" aria-label="Close Menu">&times;</button>
        </div>
        <ul class="menu-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'test' %}">Take the test</a></li>
            <li><a href="{% url 'explore_grid' %}">MBTI types</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'mbti_intro' code=request.user.profile.mbti_code %}" >Your Personality</a> </li>
                <li><a href="{% url 'profile' %}" >Profile</a> </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="login-btn">Log In</a></li>
                {% endif %}
        </ul>
    </div>
