{% extends "mbti/mbti_base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/conclusion.css' %}">
{% endblock %}

{% block data %}
<div class="conclusion-container">
  <h2 class="conclusion-heading" style="color: {{ personality.color }};">
    {{ personality.name }} & The Conclusion
  </h2>

  {% if conclusion.text1 %}
    <p class="conclusion-text">{{ conclusion.text1 }}</p>
  {% endif %}

  {% if conclusion.pic1 %}
    <img src="{{ conclusion.pic1 }}" class="conclusion-image" alt="Conclusion Image">
  {% endif %}

  {% if conclusion.subheading1 %}
    <h3 class="conclusion-subheading" style="color: {{ personality.color }};">
      {{ conclusion.subheading1 }}
    </h3>
  {% endif %}

  {% if conclusion.text2 %}
    <p class="conclusion-text">{{ conclusion.text2 }}</p>
  {% endif %}
</div>
{% endblock %}
