{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

    <div class="container">


        <div class="intro section">
            <h2>Introduction</h2>
            <p>Often the very first question people ask after completing our personality test is “What do these letters mean?” We are of course referring to those mysterious acronyms like INTJ-A, ENFP-T, or ESTJ-A. As you may have already learned from the Type Descriptions or articles on the website, the five letters of these acronyms each refer to a specific trait, with certain trait combinations forming various types and type groups. But before we discuss those traits in depth, let’s explore their historical foundations.</p>
        </div>

        <div class="aspects">
            <h1>Five Personality Aspects</h1>
            <p>This section will describe five personality aspects that, when combined, define the personality type:
                Energy, Mind, Nature, Tactics and Identity. Each of these aspects should be seen as a two-sided
                continuum, with the “neutral” option placed in the middle. The percentages you would have seen after
                completing the test are meant to show which categories you fall under, and how strong your preferences
                are.</p>

            <p>Let us now go through the personality aspects one by one:</p>



            <div class="aspect">
                <h2>Energy</h2>
                <p>This aspect shows how we interact with our surroundings:</p>
                <div class="difference">
                    <div class="first_aspect">
                        <h3>Introverted</h3>
                        <p>Introverted individuals prefer solitary activities and get exhausted by social interaction.
                            They tend to be quite sensitive to external stimulation (e.g. sound, sight or smell) in
                            general.</p>
                    </div>
                    <div class="second_aspect">
                        <h3>Extraverted</h3>
                        <p>Extraverted individuals prefer group activities and get energized by social interaction. They
                            tend to be more enthusiastic and more easily excited than Introverts.</p>
                    </div>
                </div>
            </div>

            <div class="aspect">
                <h2>Mind</h2>
                <p>The second aspect determines how we see the world and process information:</p>
                <div class="difference">
                    <div class="first_aspect">
                        <h3>Sensing</h3>
                        <p>Observant or sensing individuals are highly practical, pragmatic and down-to-earth. They tend
                            to have strong habits and focus on what is happening or has already happened.</p>
                    </div>
                    <div class="second_aspect">
                        <h3>Intuitive</h3>
                        <p> Intuitive individuals are very imaginative, open-minded and curious. They prefer novelty
                            over stability and focus on hidden meanings and future possibilities.</p>
                    </div>
                </div>
            </div>

            <div class="aspect">
                <h2>Nature</h2>
                <p>This aspect determines how we make decisions and cope with emotions:</p>
                <div class="difference">
                    <div class="first_aspect">
                        <h3>Thinking</h3>
                        <p>Thinking individuals focus on objectivity and rationality, prioritizing logic over emotions.
                            They tend to hide their feelings and see efficiency as more important than cooperation.</p>
                    </div>
                    <div class="second_aspect">
                        <h3>Feeling</h3>
                        <p>Feeling individuals are sensitive and emotionally expressive. They are more empathic and less
                            competitive than Thinking types, and focus on social harmony and cooperation.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="aspect">
            <h2>Tactics</h2>
            <p>This aspect reflects our approach to work, planning and decision-making:</p>
            <div class="difference">
                <div class="first_aspect">
                    <h3>Judging</h3>
                    <p>Judging individuals are decisive, thorough and highly organized. They value clarity,
                        predictability and closure, preferring structure and planning to spontaneity.</p>
                </div>
                <div class="second_aspect">
                    <h3>Perceiving</h3>
                    <p>Perceiving or Prospecting individuals are very good at improvising and spotting opportunities. They tend to be
                        flexible, relaxed nonconformists who prefer keeping their options open.</p>
                </div>
            </div>


        </div>
        <div class="aspect">
            <h2>Identity</h2>
            <p>Finally, the Identity aspect underpins all others, showing how confident we are in our abilities and decisions:</p>
            <div class="difference">
                <div class="first_aspect">
                    <h3>Assertive</h3>
                    <p>Assertive (-A) individuals are self-assured, even-tempered and resistant to stress. They refuse to worry too much and do not push themselves too hard when it comes to achieving goals.</p>
                </div>
                <div class="second_aspect">
                    <h3>Turbelent</h3>
                    <p>Turbulent (-T) individuals are self-conscious and sensitive to stress. They are likely to experience a wide range of emotions and to be success-driven, perfectionistic and eager to improve.</p>
                </div>
            </div>

        <div class="history section">
            <h2>History</h2>


            <p>Our approach has its roots in two different philosophies. One dates back to early 20th century and was the brainchild of Carl Gustav Jung, the father of analytical psychology. Jung’s theory of psychological types is perhaps the most influential creation in personality typology, and it has inspired a number of different theories. One of Jung’s key contributions was the development of the concept of Introversion and Extraversion – he theorized that each of us falls into one of these two categories, either focusing on the internal world (Introvert) or the outside world (Extravert). Besides Introversion and Extraversion, Jung coined the concept of so-called cognitive functions, separated into Judging or Perceiving categories. According to Jung, each person prefers one of these cognitive functions and may most naturally rely on it in everyday situations.

            </p>
            <p>
                In the 1920s, Jung’s theory was noticed by Katharine Cook Briggs, who later co-authored a personality indicator still used today, the Myers-Briggs Type Indicator® (MBTI®). Briggs was a teacher with an avid interest in personality typing, having developed her own type theory before learning of Jung’s writings. Together with her daughter, Isabel Briggs Myers, they developed a convenient way to describe the order of each person’s Jungian preferences – this is how four-letter acronyms were born.
            </p>
            <p>Of course, this is just a very simplified description of the Myers-Briggs theory. Readers interested in learning more should read Gifts Differing: Understanding Personality Type by Isabel Briggs Myers. As we define personality traits and types differently in our model, we will not go deeper into Jungian concepts or related theories in this article.</p>
        </div>

        <div class="section">
            <h2>Our Approach</h2>

            <p>With our NERIS model, we’ve combined the best of both worlds. We use the acronym format introduced by Myers-Briggs for its simplicity and convenience, with an extra letter to accommodate five rather than four scales. However, unlike Myers-Briggs or other theories based on the Jungian model, we have not incorporated Jungian concepts such as cognitive functions, or their prioritization. Jungian concepts are very difficult to measure and validate scientifically, so we’ve instead chosen to rework and rebalance the dimensions of personality called the Big Five personality traits, a model that dominates modern psychological and social research.</p>
            <p>Our personality types are based on five independent spectrums, with all letters in the type code (e.g. INFJ-A) referring to one of the two sides of the corresponding spectrum. You can see where you fall on each scale by completing our free personality assessment, NERIS Type Explorer®. This approach has allowed us to achieve high test accuracy while also retaining the ability to define and describe distinct personality types.</p>
            <p>We believe that the NERIS model is a more accurate and scientifically valid representation of personality than the Myers-Briggs Type Indicator® or other Jungian-based theories. Our model is based on the latest research in psychology and social science, and it has been validated by extensive testing.</p>
        </div>





    </div>
    </div>
        {% endblock %}