{% load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Psyche-spectrum{% endblock %}</title>
  {% block style %} {% endblock %}
    {% block logo %}<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/SahilInstinct/Psyche-Spectrum/refs/heads/main/logo.png">
 {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  {% include "components/navbar.html" %}

  {% block content %}

  {% endblock %}

  <script src="{% static 'js/base.js' %}"></script>
{% include "components/footer.html" %}
  {% block script %}{% endblock %}
</body>
</html>
